.wai {
    margin-left: 50px;
}
.guanggao{
    margin-top: 30px;
    float: left;
}
.logindiv{
    margin-left: 50px;
    margin-top: 30px;
    border: black solid 1PX;
    float: left;
    text-align: center;
}
