<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="wai"><img src="/img/gou.png" width="100" height="80"></div>
    <div class="wai">
        <div class="guanggao"><img src="/img/gou.png" width="300" height="300"></div>
        <div class="logindiv" style="height: 300px;width: 300px">
            <form>
                <h2>用户登录</h2>
                <label>用户名:</label>
                <input type="text" name="email" id="email" value="" /><br/><br/>
                <label>密码:</label>
                <input type="password" name="pwd" id="pwd" value="" /><br/><br/>
                <input type="button" name="register" value="注册" onclick="toregister()" />
                <input type="button" name="login" onclick="loginto()" value="登录" />
            </form>
        </div>
    </div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    function toregister(){
        window.location.href="/register";
    }

    function loginto(){
        var email = $("#email").val();
        var pwd = $("#pwd").val();
        $.ajax({
            "url": "/login",
            "type": "post",
            "data": {"email": email,"pwd":pwd},
            "dataType": "json",
            success: function (result) {
                if(result.flag==true){
                    alert(result.flag);
                    window.location.href="/index";
                }else{
                    alert("账户或密码信息错误");
                }
            },
            error: function () {
                alert("请联系客服！")
            }
        })
    }
</script>
</body>